In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv'

In [3]:
!wget $data -0 data-week-3.csv

wget: invalid option -- '0'
Usage: wget [OPTION]... [URL]...

Try `wget --help' for more options.

In [4]:
!wget $data --0 data-week-3.csv

wget: unrecognized option '--0'
Usage: wget [OPTION]... [URL]...

Try `wget --help' for more options.

In [5]:
!wget $data -O data-week-3.csv

--2025-10-14 02:40:58--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘data-week-3.csv’

data-week-3.csv     100%[===================>]  78.98K  --.-KB/s    in 0.002s

2025-10-14 02:40:58 (39.7 MB/s) - ‘data-week-3.csv’ saved [80876/80876]

In [6]:
df = pd.read_csv('data-week-3.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [7]:
df_full_train.tenure.max()

NameError: name 'df_full_train' is not defined